<launch>
    
     <include file="$(find karl)/launch/yd_lidar.launch" />    

     <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0.0 0.0 0.0 0.0 0.0 0.0 /map /nav 40"/>

     <node pkg="tf" type="static_transform_publisher" name="odom_to_base_link" args="0.0 0.0 0.0 0.0 0.0 0.0 /nav /base_footprint 40"/>

     <node pkg="tf" type="static_transform_publisher" name="scanmatcher_frame_to_base_link" args="0.0 0.0 0.0 0.0 0.0 0.0 /scanmatcher_frame /base_link 40"/>

     <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" args="0.1 0.0 0.1 0.0 0.0 0.0 /base_footprint /laser_frame 40"/>

     <node pkg="karl" name="karl_llc" type="karl_llc.py" output="screen">

     </node>

</launch>

