<?xml version="1.0" encoding="UTF-8" ?>
<launch>

    <!-- Mapping -->
    <include file="$(find hector_mapping)/launch/mapping_default.launch" />
 
    <include file="$(find hector_geotiff)/launch/geotiff_mapper.launch" />

    <!-- Karl specific -->
    <node pkg="karl" name="speed_calc" type="speed_calc.py" output="screen"/>

    
    </launch>