<launch>
    <!-- <include file="$(find hector_slam)/launch/mapping_default.launch" /> -->

     <include file="$(find hector_mapping)/launch/mapping_default.launch" />

     <param name="robot_description" textfile="$(find karl)/urdf/karl.urdf" />

     <node pkg="rviz" name="rviz" type="rviz" args="-d $(find karl)/launch/karl.rviz" />

     <!-- <include file="$(find hector_geotiff)/launch/geotiff_mapper.launch" /> -->

</launch>
